<div class="row">
    <div class="personal">
        <img src="https://www.herbertsmithfreehills.com/.imaging/mte/hsf-corporate-site-theme/person-profile/dam/feed/contact/laurence-vincent_WEB.jpg/jcr:content/laurence-vincent_WEB.jpg"
            alt="">
        <ul>
            <li>Nombre: Liliana Marquez</li>
            <li>Correo: lili.mar@gmail.com</li>
            <li>Contacto: 3326522405</li>
            <li>Organización: Mariscos el Tomy</li>
            <li>Proyecto: Sucursal las palmas</li>
            <li>Asesor: José de Jesus</li>
        </ul>
    </div>

    <div class="info">
        <h2>Descripción de proyecto</h2>

        <div class="input-container">

            <label for="my-input">Enter text:</label>
            <textarea [(ngModel)]="descripcion" [disabled]="!edit" type="text" id="my-input" name="my-input"></textarea>
        </div>


        <button [style.display]="btn1" class="btn1" (click)="toggleEdit()">Editar<span
                class="fas fa-edit"></span></button>
        <div class="botones">
            <button [style.display]="btn2" class="btn3" (click)="toggleEdit()">Cancelar<span
                    class="fas fa-times"></span></button>
            <button [style.display]="btn2" class="btn2" (click)="toggleEdit()">Guardar<span
                    class="fas fa-save"></span></button>
        </div>
    </div>
</div>