<div>
    <form class="register-form">
        <h1>Registrarse</h1>
        <label for="correo">Correo:</label>
        <input type="text" id="correo" name="correo">
        <label for="usuario">Nombre de usuario:</label>
        <input type="text" id="username" name="username">
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password">
        <label for="confirmar">Confirmar contraseña:</label>
        <input type="confirmar" id="confirmar" name="confirmar">
        <input type="submit" value="Registrarse">
    </form>
</div>