<div class="container">
    <h1>Página de proyecto de Aplicaciones de Escritorio</h1>
    <div class="fila1">
        <p>Este proyecto muestra un sistema de gestion de clientes de una empresa de construccion Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad, repudiandae hic earum exercitationem excepturi reprehenderit rem omnis totam pariatur suscipit nesciunt perferendis expedita corporis alias cum deserunt quam veritatis tenetur? Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, exercitationem. Facilis eveniet asperiores optio dolor, consequatur ipsam labore est minus sunt architecto possimus esse quod aut sit commodi numquam a!</p>
        <img src="https://www.shutterstock.com/image-photo/two-happy-successful-business-people-260nw-118283557.jpg"
            alt="">
    </div>

</div>
<div class="fila2">
    <div class="card">Clientes</div>
    <div class="card">Cuenta</div>
    <div class="card">Proyectos</div>
    <div class="card">Carta 4</div>
    <div class="card">Carta 5</div>
</div>