<div>
    <form class="cliente-form">
        <h1>Nuevo Cliente</h1>

        <label for="cliente">Nombre del cliente:</label>
        <input type="text" id="cliente" name="cliente">

        <label for="correo">Correo:</label>
        <input type="text" id="correo" name="correo">

        <label for="contacto">Contacto:</label>
        <input type="text" id="contacto" name="contacto">

        <label for="organizacion">Organización:</label>
        <input type="text" id="organizacion" name="organizacion">

        <label for="proyecto">Proyecto:</label>
        <input type="text" id="proyecto" name="proyecto">

        <label for="asesor">Asesor:</label>
        <input type="text" id="asesor" name="asesor">

        <input type="submit" value="Añadir Cliente">
        <a href="clientes" class="cancel-button">Cancelar</a>

    </form>
</div>