<div class="tabla">
    <h1>Clientes</h1>


    <table>
        <tr>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Contacto</th>
            <th>Organización</th>
            <th>Proyecto</th>
        </tr>
        <tr *ngFor="let cliente of clientes">
            <td>{{ cliente.nombre }}<a (click)="mostrarPerfil(cliente)"><span class="fas fa-eye"></span></a></td>
            <td>{{ cliente.correo }}</td>
            <td>{{ cliente.contacto }}</td>
            <td>{{ cliente.organizacion }}</td>
            <td>{{ cliente.proyecto }}</td>
          </tr>
        
    </table>
    
    <button routerLink="nuevoCliente">Nuevo Cliente</button>
</div>