<div class="tabla">
    <h1>Clientes</h1>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Contacto</th>
            <th>Organización</th>
            <th>Proyecto</th>
            <th>Asesor</th>
        </tr>
        <tr>
            <td>Edith Marquez<a routerLink="perfilCliente" ><span class="fas fa-eye"></span></a></td>
            <td>edith.marquez@luci.mx</td>
            <td>3326522405</td>
            <td>Illuminati</td>
            <td>Tienda de "insumos"</td>
            <td>Lucia Fernanda</td>
        </tr>
        <tr>
            <td>George Soros<span class="fas fa-eye"></span></td>
            <td>george.soros@mascln.mx</td>
            <td>3326522405</td>
            <td>Masones</td>
            <td>Pizzeria</td>
            <td>Marduk Rodriguez</td>
        </tr>
        <tr>
            <td>Carlos Muñoz<span class="fas fa-eye"></span></td>
            <td>coach.carlos@muñoz.com</td>
            <td>3326522405</td>
            <td>Negocio Licito no sospechoso</td>
            <td>Centro de entrenamiento de Coaching</td>
            <td>Él mismo</td>
        </tr>
    </table>
    <button routerLink="nuevoCliente">Nuevo Cliente</button>
</div>